.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 100rem;
  margin: 2rem 0rem 10rem 0rem;
}

.headerContainer.listMode {
  margin: 2rem 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 4rem;
  margin-bottom: 5rem;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 1rem;
  border-radius: 2rem;
}

.headerDesc {
  margin: 2rem 0rem;
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.headerSearch {
  height: 3rem;
  background-color: white;
  border: 3px solid #f3bb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0rem;
  border-radius: 5px;
  position: absolute;
  bottom: -1.5rem;
  width: 100%;
  max-width: 100rem;
}

.header {
  color: lightgrey;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 5rem;
}

.options {
  position: absolute;
  top: 5rem;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  color: black;
}

.optionCounterButton {
  width: 3rem;
  height: 3rem;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
  color: red;
}
